.main-content{
  position:relative;
  z-index:1;
}

.section{
  width:100%;
  position:relative;
  z-index:1;
}

.block{
  margin-bottom:34px;
}

.section-title{
  margin-bottom:16px;

  font-size:22px;
  font-weight:800;
}
