/* css/features/coverflow.css */

/* =========================
   COVERFLOW
========================= */

.coverflow{

  display:flex;

  align-items:center;

  gap:0;

  overflow-x:auto;
  overflow-y:visible;

  padding:
    24px 34vw 58px;

  min-height:340px;

  scrollbar-width:none;

  -webkit-overflow-scrolling:touch;

}

.coverflow::-webkit-scrollbar{
  display:none;
}

/* =========================
   CARD
========================= */

.cover-card{

  flex:0 0 auto;

  position:relative;

  margin-left:-72px;

  opacity:.22;

  transform:
    scale(.68);

  transition:
    transform .34s cubic-bezier(.22,1,.36,1),
    opacity .34s ease,
    filter .34s ease;

  will-change:
    transform,
    opacity;

  filter:
    blur(2px);

  z-index:1;

}

.cover-card:first-child{
  margin-left:0;
}

/* =========================
   ACTIVE
========================= */

.cover-card.active{

  opacity:1;

  z-index:12;

  filter:none;

  transform:
    scale(1.08);

}

/* =========================
   DEPTH
========================= */

.cover-card.depth-1{

  opacity:.72;

  filter:
    blur(.6px);

  transform:
    scale(.88);

  z-index:6;

}

.cover-card.depth-2{

  opacity:.22;

  filter:
    blur(2px);

  transform:
    scale(.68);

  z-index:1;

}
