/* =========================
   COVERFLOW
========================= */

.coverflow{

  display:flex;

  overflow-x:auto;
  overflow-y:visible;

  min-height:320px;

  padding:
    18px 34vw 52px;

  scroll-snap-type:none;

  scrollbar-width:none;

  -webkit-overflow-scrolling:touch;

  align-items:center;

  gap:0;

}

.coverflow::-webkit-scrollbar{
  display:none;
}

/* =========================
   CARD
========================= */

.cover-card{

  flex:0 0 auto;

  position:relative;

  margin-left:-58px;

  opacity:.28;

  transform:
    scale(.72);

  transition:
    transform .32s cubic-bezier(.22,1,.36,1),
    opacity .32s ease,
    filter .32s ease;

  will-change:
    transform,
    opacity;

  filter:
    blur(2px);

  z-index:1;

  scroll-snap-align:center;

}

.cover-card:first-child{
  margin-left:0;
}

/* =========================
   ACTIVE
========================= */

.cover-card.active{

  opacity:1;

  z-index:10;

  filter:none;

  transform:
    scale(1);

}

/* =========================
   DEPTH
========================= */

.cover-card.depth-1{

  opacity:.72;

  filter:
    blur(.8px);

  transform:
    scale(.86);

  z-index:5;

}

.cover-card.depth-2{

  opacity:.28;

  filter:
    blur(2px);

  transform:
    scale(.72);

  z-index:1;

}
